@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ubuntu:wght@700&display=swap');


*{
  box-sizing: border-box;
  text-align: center;
}
body{
  background-color: whitesmoke;
}
.base-container{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 6px rgba(0,0,0,0.49);
}
.header-element{
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.footer-element{
  width: 100%;
  text-align: center;
  
}
.name-link{
  text-decoration: none;
  color: inherit;
  
}
.name-link:hover{
  color:#9061ff;
  border-bottom: 1px solid #6a2bff;
}
.main-content{
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  width: 99%;
  height: 100%;
  box-shadow: inset 0px 3px 10px -4px rgba(0,0,0,0.25);
}
.btn-separator{
  padding: 3px;
}
.primary-btn{
	background-color:#44c767;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:10px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.primary-btn:hover {
	background-color:#5cbf2a;
}
.primary-btn:active {
	position:relative;
	top:1px;
}
.name-input{
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  *{
  box-sizing: border-box;
    text-align: center;
}
  .base-container{
    width: 350px;
  }
  .name-input{
  padding: 7px;
  border-radius: 5px;
}
  .main-content{
    width: 97%;
    box-shadow: inset 0px 3px 10px -4px rgba(0,0,0,0.25);
  }
}

@media (min-width: 767.98px) {
   *{
  box-sizing: border-box;
    text-align: center;
}
  .base-container{
    width: 700px;
    height: 300px;;
  }
  .name-input{
  padding: 10px;
  border-radius: 5px;
}
  .main-content{
    width: 97%;
    box-shadow: inset 0px 3px 10px -4px rgba(0,0,0,0.25);
  }
}
@media (min-width: 900px) { 
  *{
  box-sizing: border-box;
  text-align: center;
}

.base-container{
  width: 700px;
  height: 500px;
}
}